{% extends 'post/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<form id="contact" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Fill the form below to post </h3>
    <input type="hidden" name="user" value='{{ request.user.id }}'>
    <input type="hidden" name="posted_by" value='{{ request.user.id }}'>
    <fieldset>
        <input name='title' placeholder="Title" type="text" tabindex="1" required>
    </fieldset>
    <fieldset>
        <select required name='category' tabindex="2" class="form-control">
            <option value="" disabled selected>Select a Category</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <input name='location' placeholder="Address" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
        <textarea name='description' placeholder="Description" tabindex="4" required></textarea>
    </fieldset>
    {% if post_type == 'sell' %}
    <fieldset>
        <input name='price' placeholder="Enter the Price" type="number" step='0.01' tabindex="5" required class="form-control">
    </fieldset>
    {% endif %}
    <fieldset>
        <fieldset>
            <input class="form-control" name='image' placeholder="Image of pet" type="file" accept="image/*" tabindex="6" required>
        </fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" tabindex="7">Submit</button>
    </fieldset>
</form>
</div>
{% endblock %}
