{% load static %}
<header id="header">
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 pos-cen">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-phone"></i> Contact No: 5104176721 | 5913 Branch drive Orlando fl 32822</a></li>
                            <li><a href=""><i class="fa fa-envelope"></i> admin@petaMata.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 pos-cen">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row flex-nang dis-bloc">
                <div class="col-sm-3">
                    <div class="logo pull-left">
                        <a href="#}"><img src="{% static 'images/home/logo.png' %}" alt="" /></a>
                    </div>
                </div>
                <!-- Search Function Adding -->
                <div class="col-sm-6">
                    <div class="search_box pull-right">
                        <form class="mar-lf-nan" action="{% url 'search' %}" method="GET" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="Search users"> <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- start new search menu -->
                <!-- Search function ends here -->
                <div class="col-sm-3">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <!-- <li><a href=""><i class="fa fa-shopping-cart"></i> Cart</a></li> -->
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a></li>
                            <li><a href="{% url 'register' %}"><i class="fa fa-lock"></i> SignUp</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse" style="padding-left: 15px">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Our Services</a></li>
                            <li><a href="{% url 'new-post' %}">Make Post</a></li>
                            <li><a href="{% url 'post-list' 'lost' %}">Lost Pet</a></li>
                            <li><a href="{% url 'post-list' 'found' %}">Found Pet</a></li>
                            <li><a href="{% url 'post-list' 'sell' %}">For Sell</a></li>
                            <li><a href="{% url 'contacts' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
