{% extends 'post/base.html' %}{% block content%}
{% load static %}
<div class="section pro-pg-cnt" id="ind-sec-cat">
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">
                        Welcome to PetaMeta
                    </h2>
                    <p class="subheading">PetaMeta, a Pet Buying Site is an online, searchable database of animals who need homes. It is also a directory of nearly 11,000 animal shelters and adoption organizations across Nepal. Organizations maintain their own home pages and available-pet databases.</p>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="rs-icon-info-3">
                                <div class="info-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="info-text">
                                    <h4 class="text-secondary">Pet Shelter</h4> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil beatae, ab dignissimos illo, nesciunt voluptates maxime quisquam veniam nisi architecto impedit error quis, quo porro magni. Culpa autem ullam ex!
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="rs-icon-info-3">
                                <div class="info-icon">
                                    <i class="fa fa-scissors"></i>
                                </div>
                                <div class="info-text">
                                    <h4 class="text-secondary">Pet Grooming</h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi vel nemo veritatis tempore impedit laboriosam laborum nihil veniam deleniti est! Consequatur animi veniam, deserunt praesentium dolore aspernatur minus labore veritatis..
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <div class="rs-icon-info-3">
                                <div class="info-icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="info-text">
                                    <h4 class="text-secondary">Pet Searching</h4> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nisi illo praesentium consequuntur natus velit ex sunt reprehenderit. Quia et eius illo ab architecto quod amet nam. Consequuntur, officia quis.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="rs-icon-info-3">
                                <div class="info-icon">
                                    <i class="fa fa-medkit"></i>
                                </div>
                                <div class="info-text">
                                    <h4 class="text-secondary">Vaccination Facility</h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro doloribus labore mollitia recusandae quam, id vero, ipsa cupiditate hic itaque culpa! Possimus, libero perspiciatis praesentium minus reprehenderit aspernatur! Suscipit?.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}